{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Sterling Lucas Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href=" {% static '/assets/img/favicon.png' %} " rel="icon">
  <link href=" {% static '/assets/img/apple-touch-icon.png' %} " rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href=" {% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
  <link href=" {% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %} " rel="stylesheet">
  <link href=" {% static 'assets/vendor/boxicons/css/boxicons.min.css' %} " rel="stylesheet">
  <link href=" {% static 'assets/vendor/glightbox/css/glightbox.min.css' %} " rel="stylesheet">
  <link href=" {% static 'assets/vendor/swiper/swiper-bundle.min.css' %} " rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href=" {% static 'assets/css/style.css' %} " rel="stylesheet">

  <!-- =======================================================
  * Template Name: Folio - v4.3.0
  * Template URL: https://bootstrapmade.com/folio-bootstrap-portfolio-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <!-- <a href=" {% static 'index.html' %} " class="logo"><img src=" {% static 'assets/img/logo.png' %} " alt=""
          class="img-fluid"></a> -->
      <!-- Uncomment below if you prefer to use an text logo -->
      <h1 class="logo">Sterling Lucas</h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#header">Home</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link  scrollto" href="#journal">Latest</a></li>
          <li><a class="nav-link  scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Portfolio Section ======= -->
    <div id="portfolio" class="paddsection">

      <div class="container">
        <div class="section-title text-center">
          <br>
          <br>
          <h2>Portfolio</h2>
        </div>
      </div>

      <div class="container">

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Visuals</li>
              <li data-filter=".filter-card">Written</li>
              <li data-filter=".filter-web">Exhibition</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <a href="https://www.shopsaltandsundry.com/collections/the-sundry-edit-sterlings-picks">
              <img src=" {% static 'assets/img/portfolio/sundry1.png' %} " class="img-fluid" alt="">
            </a>
            <div class="portfolio-info">
              <h4>Visuals</h4>
              <p>Sundry Visual 1</p>
              <a href="https://www.shopsaltandsundry.com/collections/the-sundry-edit-sterlings-picks"
                class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <a href='https://houston.culturemap.com/eventdetail/zoya-tommy-marco-villegas-immigration-waves/'>
              <img src=" {% static 'assets/img/portfolio/exhibition1.png' %} " class="img-fluid" alt="">
            </a>
            <div class="portfolio-info">
              <h4>Exhibitions</h4>
              <p>Exhibitions 1</p>
              <a href="https://houston.culturemap.com/eventdetail/zoya-tommy-marco-villegas-immigration-waves/"
                class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <a href="https://www.vogue.com/article/the-independents-shops-we-love-in-the-east">
              <img src=" {% static 'assets/img/portfolio/sundry2.jpg' %} " class="img-fluid" alt="">
            </a>
            <div class="portfolio-info">
              <h4>Visuals</h4>
              <p>Sundry Visual 2</p>
              <a href="https://www.vogue.com/article/the-independents-shops-we-love-in-the-east" class="details-link"
                title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <a href='https://houston.culturemap.com/eventdetail/zoya-tommy-matthew-couper-jk-russ-salon-desert/'>
              <img src=" {% static 'assets/img/portfolio/exhibition2.png' %} " class="img-fluid" alt="">
            </a>
            <div class="portfolio-info">
              <h4>Exhibitions</h4>
              <p>Exhibitions 2</p>
              <a href="https://houston.culturemap.com/eventdetail/zoya-tommy-matthew-couper-jk-russ-salon-desert/"
                class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <a href='https://americanart.si.edu/exhibitions/chung'>
              <img src=" {% static 'assets/img/portfolio/exhibition3.png' %} " class="img-fluid" alt="">
            </a>
            <div class="portfolio-info">
              <h4>Exhibitions</h4>
              <p>Exhibitions 3</p>
              <a href="https://americanart.si.edu/exhibitions/chung" class="details-link" title="More Details"><i
                  class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <a href='https://www.instagram.com/p/CEsdYeFgcsD/'>
              <img src=" {% static 'assets/img/portfolio/sundry3.png' %} " class="img-fluid" alt="">
            </a>
            <div class="portfolio-info">
              <h4>Visuals</h4>
              <p>Sundry Visual 3</p>
              <a href="https://www.instagram.com/p/CEsdYeFgcsD/" class="details-link" title="More Details"><i
                  class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <a href='https://washingtonlife.com/2017/02/22/art-insights-leisure-and-excess-at-the-phillips-collection/'>
              <img src=" {% static 'assets/img/portfolio/written1.png' %} " class="img-fluid" alt="">
            </a>
            <div class="portfolio-info">
              <h4>Written 1</h4>
              <p>Written</p>
              <a href="https://washingtonlife.com/2017/02/22/art-insights-leisure-and-excess-at-the-phillips-collection/"
                class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <a
              href='https://washingtonlife.com/2017/04/20/prinkshop-founder-pamela-bell-on-making-t-shirts-for-a-cause/'>
              <img src=" {% static 'assets/img/portfolio/written2.png' %} " class="img-fluid" alt="">
            </a>
            <div class="portfolio-info">
              <h4>Written 2</h4>
              <p>Written</p>
              <a href="https://washingtonlife.com/2017/04/20/prinkshop-founder-pamela-bell-on-making-t-shirts-for-a-cause/"
                class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <a href='https://washingtonlife.com/tag/sterling-lucas/'>
              <img src=" {% static 'assets/img/portfolio/written3.png' %} " class="img-fluid" alt="">
            </a>
            <div class="portfolio-info">
              <h4>Written 3</h4>
              <p>Written</p>
              <a href="https://washingtonlife.com/tag/sterling-lucas/" class="details-link" title="More Details"><i
                  class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>

    </div><!-- End Portfolio Section -->

    <!-- ======= Journal Section ======= -->
    <div id="journal" class="text-left paddsection">

      <div class="container">
        <div class="section-title text-center">
          <h2>Latest</h2>
        </div>
      </div>

      <div class="container">
        <div class="journal-block">
          <div class="row">

            <div class="col-lg-4 col-md-6">
              <div class="journal-info">

                <a href=" {% static 'blog-single.html' %} "><img src=" {% static 'assets/img/blog-post-1.jpg' %} "
                    class="img-responsive" alt="img"></a>

                <div class="journal-txt">

                  <h4><a href=" {% static 'blog-single.html' %} ">SO LETS MAKE THE MOST IS BEAUTIFUL</a></h4>
                  <p class="separator">To an English person, it will seem like simplified English
                  </p>

                </div>

              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="journal-info">

                <a href=" {% static 'blog-single.html' %} "><img src=" {% static 'assets/img/blog-post-2.jpg' %} "
                    class="img-responsive" alt="img"></a>

                <div class="journal-txt">

                  <h4><a href=" {% static 'blog-single.html' %} ">WE'RE GONA MAKE DREAMS COMES</a></h4>
                  <p class="separator">To an English person, it will seem like simplified English
                  </p>

                </div>

              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="journal-info">

                <a href=" {% static 'blog-single.html' %} "><img src=" {% static 'assets/img/blog-post-3.jpg' %} "
                    class="img-responsive" alt="img"></a>

                <div class="journal-txt">

                  <h4><a href=" {% static 'blog-single.html' %} ">NEW LIFE CIVILIZATIONS TO BOLDLY</a></h4>
                  <p class="separator">To an English person, it will seem like simplified English
                  </p>

                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

    </div><!-- End Journal Section -->

    <!-- ======= About Section ======= -->
    <div id="about" class="paddsection">
      <div class="container">
        <div class="row justify-content-between">

          <div class="col-lg-4 ">
            <div class="div-img-bg">
              <div class="about-img">
                <img src=" {% static 'assets/img/sterling_avatar.jpg' %} " class="img-responsive" alt="me">
              </div>
            </div>
          </div>

          <div class="col-lg-7">
            <div class="about-descr">

              <p class="p-heading">I'm the bees knees and the greatest interior designer and
                writer you will find on this green earth. My skills slice fruit like a ninja. Wow-wow-wee-wow!! </p>
              <p class="separator">When I am not writing or designing or creating pillowcase empires I am spending time
                with my perfect boyfriend and doggo, Roger.</p>

            </div>

          </div>
        </div>
      </div>
    </div><!-- End About Section -->

    <!-- ======= Contact Section ======= -->
    <div id="contact" class="paddsection">
      <div class="container">
        <div class="contact-block1">
          <div class="row">

            <div class="col-lg-6">
              <div class="contact-contact">

                <h2 class="mb-30">GET IN TOUCH</h2>

                <ul class="contact-details">
                  <li><span>Washington D.C. United States</span></li>
                  <li><span>+1 (281)-685-4803</span></li>
                  <li><span>sterlingrlucas@gmail.com</span></li>
                </ul>

              </div>
            </div>

            <div class="col-lg-6">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="row gy-3">

                  <div class="col-lg-6">
                    <div class="form-group contact-block1">
                      <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                        required>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">
                      <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                        required>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">
                      <textarea class="form-control" name="message" placeholder="Message" required></textarea>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                  </div>

                  <div class="mt-0">
                    <input type="submit" class="btn btn-defeault btn-send" value="Send message">
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <div id="footer" class="text-center">
    <div class="container">
      <div class="socials-media text-center">

        <ul class="list-unstyled">
          <li><a href="#"><i class="bi bi-instagram"></i></a></li>
          <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
        </ul>

      </div>

      <p>&copy; Copyrights Folio. All rights reserved.</p>

      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
      -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>

    </div>
  </div><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src=" {% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
  <script src=" {% static 'assets/vendor/glightbox/js/glightbox.min.js' %} "></script>
  <script src=" {% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %} "></script>
  <script src=" {% static 'assets/vendor/php-email-form/validate.js' %} "></script>
  <script src=" {% static 'assets/vendor/swiper/swiper-bundle.min.js' %} "></script>
  <script src=" {% static 'assets/vendor/typed.js/typed.min.js' %} "></script>

  <!-- Template Main JS File -->
  <script src=" {% static 'assets/js/main.js' %} "></script>

</body>

</html>